<link rel="stylesheet" href="../main.css">

<center>
    <nav>
        <ul>
            <li>
                <a href="https://whispering-springs-18612.herokuapp.com/">Image Gallery</a>
            </li>
            <li>
                <a href="https://whispering-springs-18612.herokuapp.com/">Cards</a>
            </li>

        </ul>
    </nav>
</center>